ansible-builder
ansible-core>=2.11.3,<2.13.0
ansible-lint
cvprac>=1.0.7
docker
flake8
galaxy-importer>=0.3.1
identify>=1.4.20
Jinja2>=2.11.3
jsonschema>=3.2.0
md-toc>=7.1.0
molecule-docker>=0.2.4
molecule>=3.2.0,<3.5.0
netaddr>=0.7.19
paramiko>=2.7.1
pre-commit-hooks>=3.3.0
pre-commit>=2.9.2
pycodestyle
pylint>=2.4.4
PyYAML>=5.4.1
requests>=2.25.1
treelib>=1.5.5
twine
yamllint
