{% if filters is arista.avd.defined %}
* filters exist
{% else %}
* filters does not exist
{% endif %}

{% if filters[11] is arista.avd.defined %}
* filters 11 exist
{% else %}
* filters 11 does not exist
{% endif %}

{% if test_filters is arista.avd.defined %}
* test_filters exist
{% else %}
* test_filters does not exist
{% endif %}

{% if test_filters.name is arista.avd.defined %}
* test_filters name exist
{% else %}
* test_filters name does not exist
{% endif %}